/* Styling for Full Document */

*{
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    color:#042f36;
    background-color: #edc7cf;
    font-size: 120%;
    margin: 0;
    padding: 0;
    

}

/*Styling for H1s */
h1{
    margin-bottom: 30px;
    text-align:center;
    font-weight: bold;
    font-size: 175%;
}

/*Styling for sections */
section {
    position: relative;
    padding: 15px;
    width: 100%;
}

/*Styling for Boxes (divs) */
div {
    position: relative;
    background-color: #d0cfec;
    border: 1px solid #6a8e7f;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

/*Styling for Chicken */
.s1 {
    float: right;
    width: 100px;
    padding: 5px;
    margin: 0px;
    border: 3px solid #6a8e7f;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    background-color: #989572;
    
}

/*Styling for Beef */
.s2 {
    float: right;
    color: black;
    width: 100px;
    padding: 5px;
    margin: 0px;
    border: 3px solid #6a8e7f;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    background-color: #edc7cf;
    
}

/*Styling for Sushi */
.s3 {
    float: right;
    color: black;
    width: 100px;
    padding: 5px;
    margin: 0px;
    border: 3px solid #6a8e7f;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    background-color: #c6ae82;
    
}

/*Styling for content inside boxes*/
.content {
    padding: 5px;
    border: none;
    background-color: gray;
    font-family: Helvetica;
    color: black;
    margin: 0px;
    height: 200px;
    overflow: auto;
clear: right;
}

/*Styling for Row*/
.row {
    width: 90%;
}

/*desktop version*/
@media (min-width: 992px){
    .column-lg-4 {
        float: left;
        width: 33.33%;
    }
}
/*tablet version*/
@media (min-width: 768px) and (max-width: 991px){
    .colmn-md-6 {
        float: left;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .colmn-md-12 {
        float: left;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}
/*mobile version*/
@media (max-width: 767px){
    .colmn-sm-12 {
        float: left;
        width: 100%;
    }
}
</style>*/


